AIRFLOW_UID={{ airflow.os_user }}
AIRFLOW_HOME=/opt/airflow
###  CORE ###
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__FERNET_KEY={{ airflow.fernet_key }}
AIRFLOW__CORE__LOAD_EXAMPLES=True
AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
AIRFLOW__CORE__PLUGINS_FOLDER=/opt/airflow/plugins
### LOGGING ###
AIRFLOW__LOGGING__BASE_LOG_FOLDER=/opt/airflow/logs
### SCHEDULER ###
AIRFLOW__SCHEDULER__PARSING_PROCESSES=8
AIRFLOW__SCHEDULER__SCHEDULER_HEARTBEAT_SEC=10
AIRFLOW__SCHEDULER__JOB_HEARTBEAT_SEC=10
AIRFLOW__SCHEDULER__PARSING_CLEANUP_INTERVAL=300
### DATABASE ###
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN={{ airflow.sql_conn.type }}://{{ airflow.sql_conn.usr }}:{{ airflow.sql_conn.pwd }}@{{ airflow.sql_conn.host }}:{{ airflow.sql_conn.port }}/{{ airflow.sql_conn.db }}
AIRFLOW__DATABASE__SQL_ALCHEMY_MAX_OVERFLOW=60
### WEBSERVER ###
AIRFLOW__WEBSERVER__RBAC=True
# AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True
AIRFLOW__WEBSERVER__WORKERS=2
AIRFLOW__WEBSERVER__WEB_SERVER_PORT={{ airflow.port }}
AIRFLOW__WEBSERVER__SECRET_KEY={{ airflow.secret_key }}
###  CELERY ###
AIRFLOW__CELERY__BROKER_URL=redis://:@{{ airflow.redis.host }}:{{ airflow.redis.port }}/0
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://{{ airflow.sql_conn.usr }}:{{ airflow.sql_conn.pwd }}@{{ airflow.sql_conn.host }}:{{ airflow.sql_conn.port }}/{{ airflow.sql_conn.db }}
AIRFLOW__CELERY__WORKER_CONCURRENCY=8
AIRFLOW__CELERY__FLOWER_PORT={{ airflow.flower.port }}
AIRFLOW__CELERY__STALLED_TASK_TIMEOUT=300