###  CORE ###
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__FERNET_KEY= {{ config.fernet_key }}
AIRFLOW__CORE__LOAD_EXAMPLES=True
AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
AIRFLOW__LOGGING__BASE_LOG_FOLDER=/opt/airflow/logs
AIRFLOW__CORE__PLUGINS_FOLDER=/opt/airflow/plugins
AIRFLOW_HOME==/opt/airflow
AIRFLOW__CORE__PARALLELISM=64
AIRFLOW__CORE__DAG_CONCURRENCY=32
### SCHEDULER ###
AIRFLOW__SCHEDULER__PARSING_PROCESSES=4
### DATABASE ###
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN={{ config.sql_conn.type }}://{{ config.sql_conn.usr }}:{{ config.sql_conn.pwd }}@{{ config.sql_conn.host }}:{{ config.sql_conn.port }}/{{ config.sql_conn.db }}
### WEBSERVER ###
AIRFLOW__WEBSERVER__RBAC=True
# AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True
AIRFLOW__WEBSERVER__WORKERS=4
AIRFLOW__WEBSERVER__WEB_SERVER_PORT={{ config.port }}
AIRFLOW__WEBSERVER__SECRET_KEY={{ config.secret_key }}
###  CELERY ###
AIRFLOW__CELERY__BROKER_URL=redis://:@{{ config.redis.host }}:{{ config.redis.port }}/0
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://{{ config.sql_conn.usr }}:{{ config.sql_conn.pwd }}@{{ config.sql_conn.host }}:{{ config.sql_conn.port }}/{{ config.sql_conn.db }}
AIRFLOW__CELERY__WORKER_CONCURRENCY=16