AIRFLOW_UID={{ config.os_user }}
AIRFLOW_HOME=/opt/airflow
###  CORE ###
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__FERNET_KEY={{ config.fernet_key }}
AIRFLOW__CORE__LOAD_EXAMPLES=True
AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
AIRFLOW__CORE__PLUGINS_FOLDER=/opt/airflow/plugins
### LOGGING ###
AIRFLOW__LOGGING__BASE_LOG_FOLDER=/opt/airflow/logs
### SCHEDULER ###
AIRFLOW__SCHEDULER__PARSING_PROCESSES=8
AIRFLOW__SCHEDULER__SCHEDULER_HEARTBEAT_SEC=10
AIRFLOW__SCHEDULER__JOB_HEARTBEAT_SEC=10
AIRFLOW__SCHEDULER__PARSING_CLEANUP_INTERVAL=300
### DATABASE ###
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN={{ config.sql_conn.type }}://{{ config.sql_conn.usr }}:{{ config.sql_conn.pwd }}@{{ config.sql_conn.host }}:{{ config.sql_conn.port }}/{{ config.sql_conn.db }}
AIRFLOW__DATABASE__SQL_ALCHEMY_MAX_OVERFLOW=60
### WEBSERVER ###
AIRFLOW__WEBSERVER__RBAC=True
# AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True
AIRFLOW__WEBSERVER__WORKERS=2
AIRFLOW__WEBSERVER__WEB_SERVER_PORT={{ config.port }}
AIRFLOW__WEBSERVER__SECRET_KEY={{ config.secret_key }}
###  CELERY ###
AIRFLOW__CELERY__BROKER_URL=redis://:@{{ config.redis.host }}:{{ config.redis.port }}/0
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://{{ config.sql_conn.usr }}:{{ config.sql_conn.pwd }}@{{ config.sql_conn.host }}:{{ config.sql_conn.port }}/{{ config.sql_conn.db }}
AIRFLOW__CELERY__WORKER_CONCURRENCY=8
AIRFLOW__CELERY__FLOWER_PORT={{ config.flower.port }}
AIRFLOW__CELERY__STALLED_TASK_TIMEOUT=300